*{
    margin: 0;
    padding: 0;
}

#yo{
    color: rgb(210, 22, 47);
    position: absolute;
    left: 830px;
    top: 9px;
    font-size: 39px;
    background:radial-gradient(rgb(40, 188, 181),rgb(19, 92, 70),rgb(181, 11, 116));
    font-weight: bolder;
    border-color: white;
}

#asd {
    min-height: 100vh;
    background-size: 50px 205px;
    background: url("../ticatoca.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}

#play{
    position: relative;
    display: inline;
    padding: 15px 30px;
    color: #f321b1;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}

#play:hover{
    padding: 25px 50px;
    color: #751469;
    background: #f321b1;
    box-shadow: 0 0 10px #f321b1, 0 0 40px #f321b1, 0 0 100px #f321b1;
    transition-delay: 0.1s;
}

